p.info {
	font-size: small;
	background-color: #dfdfdf;
	padding: 5px;
	
}
p{
	color: navy;
}
title {
	color: white;
	text-shadow: navy;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
	padding: 10px;
}

h2 {
	color: #3f3faf;
	background-image: linear-gradient(to right,white, #ffefaf);
	margin: 5px;
	font-family:cursive;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: 200px 200px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

div#zentai > div:last-child img {
	float: right;
	padding: 10px;
}
